---
import Button from "../components/button.astro";
import Projects from "../components/home/projects.astro";
import Separator from "../components/home/separator.astro";
import Writings from "../components/home/writings.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Efe Mario Ogboriavwien">
  <!-- Container for background image with specific height -->
  <div class="relative w-full bg-cover bg-center h-[90vh]" style="background-image: url('/src/assets/images/societyimage.png');">
    <!-- Dark overlay to enhance text readability -->
    <div class="absolute inset-0 bg-black opacity-50 z-10"></div>

    <!-- Content container with specific height -->
    <div class="relative z-20 max-w-4xl mx-auto px-7 py-10">
      <!-- Updated container for text content with reduced width and alignment -->
      <div class="relative w-1/2 md:w-1/2 bg-black bg-opacity-75 text-white p-6 rounded-lg shadow-lg">
        <div class="relative w-full">
          <h1 class="mb-5 text-4xl font-bold leading-tight md:text-4xl lg:text-6xl">
            Hello, I'm Mario.
          </h1>
          <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
            I'm a Cyber Security student living in Nigeria. <br class="hidden lg:block" />I focus on Web development.
          </p>
          <p class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200">
            I can help you out with:
          </p>
          <ul class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400">
            <li>Vue.js Development</li>
            <li>React.js Development</li>
            <li>Node.js Development</li>
            <li>Website Design</li>
            <li>and more...</li>
          </ul>
          <Button text="Follow me on LinkedIn" link="https://www.linkedin.com/in/efe-ogboriavwien-859580264" />
        </div>
      </div>
    </div>
  </div>

  <!-- Additional Sections -->
  <Separator text="Check out my projects" />
  <Projects />
  <Separator text="Some of my writing" />
  <Writings />
</Layout>

